.grid {
    width: 100%;
    display: block;
    padding: 0;
}
/* For PC resolution */
.wide {
    max-width: 1200px;
    margin: 0 auto;
}
.wide .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.col {
    padding-left: 12px;
    padding-right: 12px;
}
.col-xl-0 {
    display: none;
}

.col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
/* PC low resolution */
@media (min-width: 992px) and (max-width: 1199px) {
    .wide {
        max-width: 984px;
    }
    .wide .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    .col-lg-0 {
        display: none;
    }

    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .wide {
        max-width: 724px;
    }
    .wide .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    .col-md-0 {
        display: none;
    }

    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/* Mobile resolution */
@media (min-width: 577px) and (max-width: 767px) {
    .wide {
        max-width: 530px;
    }
    .wide .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }
    .col-sm-0 {
        display: none;
    }

    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Mobile low resolution */
@media screen and (max-width: 576px) {
    .wide {
        max-width: 95%;
    }
    .wide .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }
    .col-ss-0 {
        display: none;
    }

    .col-ss-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-ss-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-ss-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-ss-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-ss-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-ss-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-ss-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-ss-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-ss-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-ss-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-ss-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-ss-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
