* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========= Commons ========= */

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 24.5px;
    color: #ffffff;
    background: #171100;
}

.heading {
    width: 470px;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.6rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}
/* ========= Header ========= */

.header-fixed {
    background: #fffcf4;
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header-fixed .body {
    padding: 36px 0 8px;
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.nav ul a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5f5b53;
}

.header-fixed .action {
    margin-left: 49px;
}

.action .btn {
    padding: 0 41px;
    min-width: 144px;
    min-height: 50px;
}

/* ========= Hero ========= */

.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}

.hero .img-hero {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .content-block {
    width: 52%;
}
.hero-sumary {
    width: 270px;
    padding: 24px 24px;
    position: absolute;
    right: 0;
    bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-sumary .item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-sumary .info .lable {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-sumary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Right hero */
.content-block {
    padding-left: 130px;
    display: flex;
    align-items: center;
}

.content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.content-block .cta-group {
    display: flex;
    margin-top: 38px;
}

.content-block .btn {
    padding: 17px 34px;
    min-width: 180px;
    min-height: 64px;
    background: var(--primary-color);
    border-radius: 32px;
}

.content-block .watch-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.content-block .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.content-block .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.content-block .sub-desc {
    margin-top: 48px;
}

.content-block .qty-desc {
    margin-top: 8px;
}

.content-block .qty-desc strong {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    color: #171100;
}
.content-block .qty-desc strong:nth-child(2) {
    margin-left: 28px;
}

/* ==========Popular============ */
/* popular top */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
    color: white;
    cursor: pointer;
}

.popular-top .desc {
    width: 458px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

/* Course */

.course-list {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.course-item {
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.course-list .course-item .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .head .rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.course-item .head .value {
    font-weight: 400;
    font-size: 1.6rem;
    color: #fea31b;
}

.course-item .info .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.course-item .foot .btn {
    width: 118px;
    height: 50px;
}

.course-item .foot .btn:hover {
    cursor: pointer;
    border: var(--primary-color);
    background: var(--primary-color);
    color: white;
}
