* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========= Commons ========= */
.break-all {
    word-break: break-all;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 24.5px;
    color: #ffffff;
    background: #171100;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.6rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}
.heading.lv3 {
    font-weight: 600;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.75;
}
/* ========= Header ========= */

.header-fixed {
    background: #fffcf4;
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header-fixed .body {
    padding: 36px 0 8px;
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.nav ul a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5f5b53;
}

.header-fixed .action {
    margin-left: 49px;
}

.action .btn {
    padding: 0 41px;
    min-width: 144px;
    min-height: 50px;
}

/* ========= Hero ========= */

.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}

.hero .img-hero {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .content-block {
    width: 52%;
}
.hero-sumary {
    width: 270px;
    padding: 24px 24px;
    position: absolute;
    right: 0;
    bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-sumary .item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-sumary .info .lable {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-sumary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Right hero */
.content-block {
    padding-left: 130px;
    display: flex;
    align-items: center;
}

.content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.content-block .cta-group {
    display: flex;
    margin-top: 38px;
}

.content-block .btn {
    padding: 17px 34px;
    min-width: 180px;
    min-height: 64px;
    background: var(--primary-color);
    border-radius: 32px;
}

.content-block .watch-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.content-block .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.content-block .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.content-block .sub-desc {
    margin-top: 48px;
}

.content-block .qty-desc {
    margin-top: 8px;
}

.content-block .qty-desc strong {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    color: #171100;
}
.content-block .qty-desc strong:nth-child(2) {
    margin-left: 28px;
}

/* ==========Popular============ */
/* popular top */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
    color: white;
    cursor: pointer;
}

.popular-top .desc {
    width: 458px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

/* Course */

.course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.course-item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-color: transparent;
    margin-top: -10px;
}

.course-list .course-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .info .title {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .head .rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.course-item .head .value {
    font-weight: 400;
    font-size: 1.6rem;
    color: #fea31b;
}

.course-item .info .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.course-item .foot .btn {
    width: 118px;
    height: 50px;
    font-size: 1.4rem;
}

.course-item .foot .book-btn {
    border: none;
}
.course-item .foot .btn:hover {
    cursor: pointer;
    background: var(--primary-color);
}

/* ========= Feedback ========== */

.feedback {
    padding: 96px 0px;
    margin-top: 135px;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.feedback-item .info {
    width: 34%;
}
.feedback-item .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .title {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .dots {
    display: flex;
    gap: 8px;
    margin-top: 28px;
}
.feedback-item .dot {
    cursor: pointer;
    margin-top: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-item .dot.active {
    cursor: default;
    background: #ffb900;
}

.feedback-item .content {
    width: 66%;
}
.feedback-item blockquote {
    margin-left: auto;
    padding-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* ======= Features ========== */

.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .body img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features .body img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features .content .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    height: 50px;
    background: var(--primary-color);
    border-radius: 26px;
}

/* feature 2 */
.features-2nd {
    margin-top: 70px;
}
.features-2nd .body {
    flex-direction: row-reverse;
}
.features-2nd .content {
    width: 49%;
}
.features-2nd .content .h2 {
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}
.features-2nd .images img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}

/* ======= Blogs ======== */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}
.blog .blog-top {
    text-align: center;
}

.blog-top .desc {
    margin: auto;
    width: 448px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog-list .item {
    width: calc(33.33% - 20px);
    flex-shrink: 0;
    background: #ffffff;
    border-radius: 16px;
}

.blog-list .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog-list .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-list .item .info {
    padding: 20px 20px 28px 20px;
}
.blog-list .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog-list .date::before {
    margin-right: 4px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog-list .date::after {
    position: absolute;
    left: 0;
    bottom: -12px;
    right: -27px;
    display: inline-block;
    content: "";
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog-list .item .title {
    margin-top: 25px;
}

.blog-list .item .title a {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog-list .btn {
    font-size: 1.4rem;
    margin-top: 12px;
    width: 118px;
    height: 50px;
    background: #171100;
    border-radius: 25px;
}

.blog-list .btn:hover {
    background: var(--primary-color);
}

.blog .dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 38px;
}
.blog .dot {
    cursor: pointer;
    margin-top: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.blog .dot.active {
    cursor: default;
    background: var(--primary-color);
}

/* ======== Footer ======== */

.footer {
    background: #2e2100;
}

.footer .main-content {
    padding: 96px 0 28px;
}

.footer .row {
    display: flex;
}

.footer .column {
    width: 21.6%;
}

.footer .column:first-child {
    width: 35%;
}
.footer .column .desc {
    margin-top: 18px;
    width: 267px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .column .social-block {
    margin-top: 18px;
    display: flex;
    gap: 18px;
    align-items: center;
}

.footer .column .list {
    margin-top: 43px;
}

.footer .column .list li {
    margin-top: 12px;
}
.footer .heading {
    display: inline-flex;
    position: relative;
}

.footer .heading::after {
    position: absolute;
    bottom: -14px;
    left: 0;
    right: -65px;
    content: "";
    display: inline-block;
    height: 1px;
    background: #59554b;
}

.footer .column .list a {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .column .list strong {
    font-weight: 400;
    color: #ffffff;
}

.footer .hr {
    margin-top: 38px;
    width: 100%;
    height: 1px;
    background: #59554b;
}

.footer .copyright {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
